# requirements.txt records the full set of dependencies for development


# Core PyTorch dependencies (install these first)
torch>=2.1.2  --index-url https://download.pytorch.org/whl/cu118
torchvision>=0.16.2 --index-url https://download.pytorch.org/whl/cu118
numpy==1.26.4

# Dependencies that require PyTorch to be installed first
flash-attn

# Other dependencies
tensorboard==2.16.2
six==1.16.0
packaging==24.0
cycling_utils @ git+https://github.com/StrongResearch/cycling_utils.git
accelerate
codetiming
datasets
matplotlib
dill
hydra-core
liger-kernel
pandas
peft
pyarrow>=15.0.0
pybind11
pylatexenc
ray
tensordict<0.6
transformers
vllm>=0.6.6.post1,<0.7.0
wandb